################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YouzanYunOpenSDK
/YouzanYunOpenSDK/bin/Debug/netstandard2.0
/YouzanYunOpenSDK/obj
/YouzanYunOpenSDK/nuget.exe
/YouzanYunOpenSDK/YouzanYunOpenSDK.nuspec
*.nupkg
/YouzanYunOpenSDK/nuget.bat
/UnitTest/obj
/UnitTest/bin/Debug/netcoreapp2.2
/.vs/slnx.sqlite
